<div class="l-content">
  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}
  {% block content %}
    Content Region Content
  {% endblock %}
  {% if constrain %}
    </div>
  {% endif %}
</div>
