<div class="l-breadcrumb">
  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}
  {% block content %}
    Breadcrumb Content
  {% endblock %}
  {% if constrain %}
    </div>
  {% endif %}
</div>
