// Call to action styling

.call-to-action {
  align-items: center;
  background-color: $blue-dark-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;

  @include breakpoint($layout-bp-small) {
    flex-direction: row;
  }
}

.call-to-action__title {
  color: $white;
}
