<footer class="l-footer" role="contentinfo">
  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}
  {% block content %}
    Footer Content
  {% endblock %}
  {% if constrain %}
    </div>
  {% endif %}
</footer>