// @file
// Styles for the Sidebar Layout.

$l-sidebar-bp: 900px;
$l-sidebar-width: 300px;
$l-sidebar-gutter: rem(gesso-spacing(sm));

.l-sidebar {
  width: 100%;
}

.l-sidebar__grid {
  @include breakpoint($l-sidebar-bp) {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-sidebar__aside {

  @include breakpoint($l-sidebar-bp) {
    flex-basis: $l-sidebar-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $l-sidebar-gutter;

    .l-sidebar--right & {
      margin-left: $l-sidebar-gutter;
      margin-right: 0;
      order: 1;
    }
  }
}

.l-sidebar__main {
  max-width: 100%;
  position: relative;

  @include breakpoint($l-sidebar-bp) {
    flex-basis: calc(100% - #{$l-sidebar-width} - #{$l-sidebar-gutter});
    flex-grow: 1;
    flex-shrink: 0;
  }
}
